{% extends "base.html" %}
{% block title %}Deadline{% endblock %}

{% block sidebar %}
  <li><a href="/"><i class="fas fa-home"></i> Dashboard</a></li>
  <li><a href="/team-overview"><i class="fas fa-people-group"></i> Team</a></li>
  <li class="active"><a href="/deadline"><i class="fas fa-hourglass-end"></i> Deadlines</a></li>
  <li><a href="/projects"><i class="fas fa-tasks"></i> Projects</a></li>
  <li class="logout"><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
{% endblock %}

{% block content %}
<h1>Deadline</h1>
<p>This is the Deadline page for managers.</p>
{% endblock %}
